<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Diario y Noticias</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/taxonomy/countries">Diarios por Pais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/taxonomy/categories">Diarios por Categoria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/taxonomy/languages">Diarios por Idioma</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-3 mb-3">
  <router-outlet></router-outlet>
</div>